@font-face {
    font-family: "Open Sans";
    src: url("OpenSans-Regular.ttf");
}
* {
    margin:0;
    padding:0;
}
body {
    font-size: 0;
    background-color: #455A64;
    overflow: hidden;
}
::-webkit-scrollbar {
    width: 8px;
    background-color:#455A64;
}
::-webkit-scrollbar-thumb {
    background-color:#607D8B;
}
::-webkit-scrollbar-thumb:hover {
    background-color:#90A4AE;
}
#controls_wrapper {
    float:left;
    width: 7vw;
    height: 100vh;
    -webkit-user-select:none;
}
#controls {
    margin: 30vh 0;
}
#note_preview_wrapper {
    display: inline-block;
    width: 33vw;
    height: 100vh;
    -webkit-user-select:none;
}
#statusbar {
    width: 33vw;
    height: 6vh;
    overflow: hidden;
    -webkit-user-select:none;
}
#note-container {
    height: 91.3vh;
    overflow: auto;
}
.note {
    margin: 2px 0px 14px 0px;
    width: 30.6vw;
    height: 15vh;
    background-color: white;
    border-bottom: 8px solid #455A64;
    border-radius: 6px;
    -webkit-transition: all .4s ease;
    overflow: hidden;
    cursor: default;
    -webkit-user-select:none;
}
.note-content {
    font-size: 12pt;
    padding: 4px;
    word-wrap: break-word;
    overflow: hidden;
}
.note:hover, .active {
    border-color: #90A4AE;
}
.note:hover .note-controls-wrapper, .active .note-controls-wrapper {
    opacity: 1;
}
.note-controls-wrapper {
    float: right;
    -webkit-transition: all .4s ease;
    opacity: 0;
}
.note-controls {
    height: 24px;
    width: 24px;   
    background-size: 24px 24px;
    cursor: pointer;
}
#calendar-btn {
    display: inline-block;
    background-image:url(../img/calendar.png);
}
#remove-note-btn {
    display: inline-block;
    background-image:url(../img/remove_note3.png);
}
#editor_wrapper{
    float:right;
    width: 60vw;
    height: 100vh;
}

#editor_box {
    font-size: 12pt;
    outline: none;
    width: 56vw;
    height: 88.8vh;
    padding: 1vh 1vw;
    background-color: white;
    border-radius: 8px;
    margin: 2px;
    overflow: auto;
}

#toolbar {
    width: 60vw;
    height: 6vh;
    -webkit-user-select:none;
}
.button {
    border: none;
    outline: none;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 44px;
    height: 44px;
    margin: 10px;
    border-radius: 8px;
    background-color: #455A64;
    transition: background 0.25s linear;
}
button:hover, td:not(.days):hover, td.selected, .clock:hover{
    background-color: #263238;
}
td:empty:hover {
    background-color: transparent;
}
#add {
    background-image:url(../img/add.png);
}
#login {
    background-image:url(../img/login.png);
}
#options {
    background-image:url(../img/options.png);
}
.tb-button {
    border: none;
    outline: none;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin: 2px;
    border-radius: 6px;
    background-color: #455A64;
    transition: background 0.25s linear;
}
#bold {
    background-image:url(../img/bold.png);
}
#italic {
    background-image:url(../img/italic.png);
}
#underline {
    background-image:url(../img/underline.png);
}
#strikethrough {
    background-image:url(../img/strikethrough.png);
}
#outdent {
    background-image:url(../img/outdent.png);
    background-size: 74%;
    background-position: center;
}
#indent {
    background-image:url(../img/indent.png);
    background-size: 74%;
    background-position: center;
}
#subscript {
    background-image:url(../img/subscript.png);
}
#superscript {
    background-image:url(../img/superscript.png);
}
#removeformat {
    background-image:url(../img/removeformat.png);
}
#align_left {
    background-image:url(../img/align_left.png);
}
#align_center {
    background-image:url(../img/align_center.png);
}
#align_right {
    background-image:url(../img/align_right.png);
}
#align_justify {
    background-image:url(../img/align_justify.png);
}
#undo {
    background-image:url(../img/undo.png);
}
#redo {
    background-image:url(../img/redo.png);
}
#login_wrapper, #options_wrapper {
    width: 100vw;
    height: 100vh;
    display: none;
    color: white;
    font-size: 13pt;
}
#login_wrapper img {
    display: block;
    width: 70px;
    height: 70px;
    margin: 0 auto;
}
#login_btn {
    width: 60px;
    height: 60px;
    display: block;
    margin: 10px auto;
    background-image:url(../img/google.png);
}

form {
    width: 24vw;
    height: 30vh;
    position: absolute;
    left: 50%;
    top: 40%;
    margin:-18vh 0 0 -11vw;
    color: white;
}
input {
    width: 96%;
    height: 1.2em;
    margin: 10px 0;
    padding: 6px;
    outline: none;
    color: white;
    border: none;
    background-color: #455A64;
    transition: background 0.3s linear;
}
input:focus {
    background-color: white;
    color: #455A64;
    border: none;
}
#calendar ,#notification_wrapper{
    display: none;
    color: white;
    font-size: 16pt;
    outline: none;
    width: 43vw;
    height: 88.8vh;
    padding: 0 8vw;
    margin: 2px;
    -webkit-user-select:none;
}
#calendar header button {
    position: absolute;
    top: 1%;
    background-color: transparent;
    border: none;
    outline: none;
    width: 34px;
    height: 34px;
    background-size: 100%;
}
#calendar header button:hover {
    background-color: #263238;
    border-radius: 10px;
}
#cal-left {
    background-image:url(../img/left.png);
    right: 90%;
}
#cal-right {
    background-image:url(../img/right.png);
    left: 90%;
}
table {
    width: 44vw;
    height: 60vh;
    table-layout: fixed;
}
td {
    text-align: center;
    border-radius: 16px;
    transition: background 0.25s linear;
    cursor: default;
}
#calendar header, #calendar footer {
    height: 1em;
    display: none;
    position: relative;
    width: 44vw;
    text-align: center;
    cursor: default;
}
.present_day {
    border: 2px solid #90A4AE;
}
#calendar footer{
    padding: 10px;
}
#calendar footer button {
    position: absolute;
    background-color: transparent;
    border: none;
    outline: none;
    height: 20px;
    width: 20px;
    background-size: 140%;
    background-position: center;
    margin-left: 120px;
    left: 0;
}
#calendar footer button:hover {
    background-color: #263238;
    border-radius: 4px;
}
#calendar #up{
    background-image:url(../img/up.png);
    top:-10%;
}
#calendar #down{
    bottom: -15%;
    background-image:url(../img/min.png);
}
#calendar footer div {
    margin-right: 4px;
    display: inline-block;
}
#date_apply {
    width: 44vw;
    height: 10vh;
    display: none;
    text-align: center;
}
#date_apply button , #date_cancel button{
    outline: none;
    border:none;
    border-bottom: 2px solid #90A4AE;
    color: white;
    background-color: transparent;
    width: 120px;
    height: 45px;
    margin: 30px 0 0 20px;
    border-radius: 10px;
    border: 2px solid
    transition: background 0.25s linear;
}
#date_apply button:hover, #date_cancel button:hover, #save_location label:hover {
    background-color: #263238;
}
#warning_wrapper, #clock_wrapper {
    display: none;
    position: relative;
}
.clock {
    transition: background 0.25s linear;
    padding: 4px;
    border-radius: 6px;
}
.clock.chosen {
    border-bottom: 2px solid #90A4AE;
}
#notification_wrapper {
    position: absolute;
    top: 32%;
    font-size: 26pt;
    text-align: center;
}
#date_cancel button {
    font-size: 16pt;
}
#options_position {
    position: absolute;
    left: 34%;
    top: 28%;
    width: 340px;
}
.options {
    margin: 28px;
}
.options label {
    margin: 10px;
    padding: 8px;
    border-radius: 6px;
    border-bottom: 2px solid #90A4AE;
}
.options_img {
    height: 1.2em;
    width: 1.2em;
    margin: -6px;
    background-size: 150%;
    background-position: center;
    display: inline-block;
}
#note_location {
    background-image:url(../img/location.png);
}
#note_autosave {
    background-image:url(../img/save.png);
}
#note_autosave_check {
    margin-top: 5px;
    margin-right: 40px;
    float: right;
    background-image:url(../img/check.png);
    border-radius: 6px;
    border-bottom: 2px solid #90A4AE;
}
#note_autosave_interval {
    background-image:url(../img/clock.png);
}
#interval_controls {
    float:right;
    height: 1.4em;
    width: 76px;
    position: relative;
}
#interval_controls button {
    position: absolute;
    background-color: transparent;
    border: none;
    outline: none;
    height: 20px;
    width: 20px;
    background-size: 140%;
    background-position: center;
    right: 0;
}
#interval_up{
    top:-20%;
    background-image:url(../img/up.png);
}
#interval_down{
    bottom: -30%;
    background-image:url(../img/min.png);
}